$resistor-body-height: 75px;
$resistor-cup-width: 40px;
$black: #000;
$brown: #9c2c2c;
$red: #f80909;
$orange: #ff8000;
$yellow: #f4f400;
$green: #008000;
$blue: #0080ff;
$violet: #8000ff;
$gray: #808080;
$white: #ffffff;

.resistor-bg-color {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#deb47d+0,ddc19d+100 */
  background-color: #deb47d; /* Old browsers */
}

.resistor-body {
  @extend .resistor-bg-color;
  border-radius: 10px;
  height: $resistor-body-height;
  position: relative;

  padding-left: $resistor-cup-width;
  padding-right: $resistor-cup-width;

  &::after,
  &::before {
    @extend .resistor-bg-color;
    width: $resistor-cup-width;

    height: 90px;
    content: " ";
    display: block;
    position: absolute;
    top: -7px;
    border-radius: 25px 40px 40px 25px;
  }
  &::after {
    left: 0;
  }
  &::before {
    right: 0;
    transform: rotateY(180deg);
  }

  .colors {
    width: 20px;
    height: $resistor-body-height;
    /* overflow: hidden; */
    position: relative;
    > span {
      /*  transform: rotate(-90deg);
      display: block;
      text-align: center;
      width: $resistor-body-height; */
      text-transform: uppercase;
      text-align: left;
      writing-mode: vertical-rl;
      text-orientation: upright;
      height: 100%;
      font-size: 0.6255rem;
      bottom: -85px;
      left: 3px;
      position: absolute;
    }

    &.none {
      background-color: transparent;
      border: 1px solid grey;
      border-bottom: none;
      border-top: none;
      > span {
        display: none;
      }
    }
    &.black {
      background-color: $black;
    }
    &.brown {
      background-color: $brown;
    }
    &.red {
      background-color: $red;
    }
    &.orange {
      background-color: $orange;
    }
    &.yellow {
      background-color: $yellow;
    }
    &.green {
      background-color: $green;
    }
    &.blue {
      background-color: $blue;
    }
    &.violet {
      background-color: $violet;
    }
    &.gray {
      background-color: $gray;
    }
    &.white {
      background-color: $white;
    }

    &.gold {
      // /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f9da89+0,fccd4d+46,f8b500+47,f9d372+100 */
      // background: #f9da89; /* Old browsers */
      // background: -moz-linear-gradient(
      //   left,
      //   #f9da89 0%,
      //   #fccd4d 46%,
      //   #f8b500 47%,
      //   #f9d372 100%
      // ); /* FF3.6-15 */
      // background: -webkit-linear-gradient(
      //   left,
      //   #f9da89 0%,
      //   #fccd4d 46%,
      //   #f8b500 47%,
      //   #f9d372 100%
      // ); /* Chrome10-25,Safari5.1-6 */
      // background: linear-gradient(
      //   to right,
      //   #f9da89 0%,
      //   #fccd4d 46%,
      //   #f8b500 47%,
      //   #f9d372 100%
      // ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9da89', endColorstr='#f9d372',GradientType=1 ); /* IE6-9 */

      background-image: url("/static/images/gold-bg.jpg");
    }
    &.silver {
      background-image: url("/static/images/silver-bg.jpg");
    }
  }
}

.resistor-leads {
  height: $resistor-body-height / 3;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e2e2e2+0,dbdce2+21,f9f9f9+49,dddfe3+80,dbdbdb+100 */
  background: #e2e2e2; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #e2e2e2 0%,
    #dbdce2 21%,
    #f9f9f9 49%,
    #dddfe3 80%,
    #dbdbdb 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #e2e2e2 0%,
    #dbdce2 21%,
    #f9f9f9 49%,
    #dddfe3 80%,
    #dbdbdb 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #e2e2e2 0%,
    #dbdce2 21%,
    #f9f9f9 49%,
    #dddfe3 80%,
    #dbdbdb 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
}

.color-selector,
.color-selector-section {
  .text-black {
    color: $black;
  }
  .text-brown {
    color: $brown;
  }
  .text-red {
    color: $red;
  }
  .text-orange {
    color: $orange;
  }
  .text-yellow {
    color: $yellow;
    text-shadow: rgb(155, 155, 155) 1px 2px;
  }
  .text-green {
    color: $green;
  }
  .text-blue {
    color: $blue;
  }
  .text-violet {
    color: $violet;
  }
  .text-gray {
    color: $gray;
  }
  .text-white {
    color: $white;
    text-shadow: rgb(155, 155, 155) 1px 2px;
  }
}
